

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	border: 25px solid #2a80aa;
	background-color: #3299cb;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* SECTION */
section {
	margin: 0 auto;
	max-width: 800px;
}
h1 {
	display: inline-block;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 30px;
	color: #fff;
	font-weight: 400;
}
.wi {
	font-size: 30px;
	margin-left: 5px;
}
.wi-sunrise {
	font-size: 25px;
}
ul {
	padding-left: 0;
	font-size: 0;
	border: 2px solid #fff;
	margin: 0 auto;
	max-width: 800px;
	border-collapse: collapse;
}
ul:hover li:not(:hover) {
	opacity: .5;
	transition: all .1s ease-in;
}
ul + p {
	font-size: 18px;
}
li {
	display: inline-block;
	height: 120px;
	font-size: 18px;
	text-align: center;
	border: 2px solid #fff;

}
p {
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 25px;
	color: #fff;
}
p + p {
	font-size: 20px;
	margin-top: 0;
	padding-top: 10px;
	opacity: .5;
}
.part-1 {
	width: 50%;
	background-color: #3299cb;
}
.part-2 {
	width: 25%;
	background-color: #31cbcc;
}
.part-3 {
	width: 25%;
	background-color: #996598;
}
.part-4 {
	width: 25%;
	background-color: #c14646;
}
.part-5 {
	width: 25%;
	background-color: #e16749;
}
.part-6 {
	width: 25%;
	background-color: #ffcc65;
}
.part-7 {
	width: 25%;
	background-color: #99cc98;
}
.part-8 {
	width: 25%;
	background-color: #659998;
}
.part-9 {
	width: 50%;
	background-color: #cb6598;
}
.part-10 {
	width: 25%;
	background-color: #349865;
}
.part-11 {
	width: 100%;
	background-color: #666598;
}